<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="dmcqa.listeners"/>
	<listener class-name="resources.ExtentReporterNG"/>
</listeners>

  
  
    <test name="Test User Login">
    <classes>
      <class name="dmcqa.LoginUILABSGuest"/>
    </classes>
  </test> <!-- Test -->
  
    <test name="Validate Title">
    <classes>
      <class name="dmcqa.validateTitle"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
